*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: thistle;
}
header{
    position: sticky;
    top: 0px;
}

#navegacao{
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    color: black;
    font-size: 15px;
    overflow:hidden;

}

.simbolo{
    font-size: 40px;
}

#item-menu{ 
    list-style: none;
    float:right;
}

li{
    display:inline-block;
    margin-left: 15px;
    padding: 5px;
}

li:hover{
    color: white;
    background-color: black;
    cursor:pointer;
    border-radius: 90px;
    transform: scaleX(1.5);
    transform: scaleY(1);
}


main{
    /* background-color: olivedrab; */
    background-image: url(https://s2-g1.glbimg.com/AtvH9kpxe_v-TA_XWzbFURY316k=/0x0:5373x3582/984x0/smart/filters:strip_icc/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2025/6/x/lFlVsrQw2UCwQqeXDqbw/kendrick-lamar-super-bowl-2025-1.jpg) ;
    background-color: aliceblue;
    height: 2000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px;
    font-size: 30px;
    color: aqua;
}
#bloco{ 
    
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    
   
    
    
}
#linha-bloco{

    background-color: orangered;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-weight: 900;
    padding: 10px;
    margin-left: 15px;
    
    
    
}



