body{

    background-color: rgb(0, 247, 255);
}
#adidas{
    width: 90%;
    height: 2000px;
    margin:auto;
    background-color: rgb(82, 62, 62);
    background-image: url(https://i.redd.it/whats-the-most-ridiculous-hydrogen-bomb-vs-coughing-baby-v0-hxq1xm3nt3bd1.jpg?width=680&format=pjpg&auto=webp&s=8b559864e281fe18452ca06258e71aadc15ec533);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0%;
    background-attachment: scroll;
}
h1{

    background-color: rgb(0, 255, 0);
    
    
}